/* Universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* Visual Aid Purpose */
    border: 1px red solid;
}

html {
    font-size: 16px;
    font-family: 'Balsamiq Sans', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.77)
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.33rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    display: inline-block;
    height: 2.22rem;
    object-fit: stretch;
}

nav ul li {
    display: inline;
    padding: 0 1.11rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.11rem;
    color: white;
}

/* Header */
header {
    height: 44.4rem;
    background-image: url(../img/fakeflix-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}