/* Universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* Visual Aid Purpose */
    border: 1px red solid;
}

html {
    font-size: 16px;
    font-family: 'Balsamiq Sans', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

.lato {
    font-family: "Lato", sans-serif;
}

.heebo {
    font-family: "Heebo", sans-serif;
}

.top-line {
    border-top: 11px solid rgba(55, 55, 55, 0.77);
}

.glow {
    box-shadow: 0 0 33px 11px rgba(255, 255, 255, 0.77);
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.33rem;
    background-color: black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    display: inline-block;
    height: 2.22rem;
    object-fit: stretch;
}

nav ul li {
    display: inline;
    padding: 0 1.11rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.11rem;
    color: white;
}

.nav-links a:hover {
    color:rgba(0, 255, 0, 0.55);
    text-decoration: underline;
    text-shadow: rgba(255, 255, 255, 1) 0px 0px 22px;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44.4rem;
    background-image: url(../img/fakeflix-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    height: 3.4375rem;
    width: 13.875rem;
    background-color: rgba(255, 0, 0, 0.55);
    color: black;
    border-radius: 0.6875rem;
    font-weight: bolder;
    font-size: 1.57rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: rgba(0, 255, 0, 0.55);
    color: white;
    cursor: pointer;
    box-shadow: 0 0 77px 11px rgba(255, 255, 255, 0.77);
}

.btn span {
    display: block;
}

/* Section - Mission */
#mission {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 222px;
}

#quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 111px;
    width: 80%;
}

#quote .quotation {
    font-size: 3rem;
    font-style: italic;
}

/* Section - Products */
#products {
    padding: 2.22rem;
}

#products article {
    height: 333px;
    display: flex;
}

#products article .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#products .text {
    width: 60%;
}

.text h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.77rem;
}

.text h3 {
    font-weight: normal;
    text-align: justify;
}

#products article .preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 1.11rem;
}

#products img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* Section - Employees */
#employees .gallery{
    height: 333px;
}