/* Universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* Visual Aid Purpose */
    border: 1px red solid;
}

html {
    font-size: 16px;
    font-family: 'Balsamiq Sans', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.77)
}

.lato {
    font-family: "Lato", sans-serif;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.33rem;
    background-color: black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    display: inline-block;
    height: 2.22rem;
    object-fit: stretch;
}

nav ul li {
    display: inline;
    padding: 0 1.11rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.11rem;
    color: white;
}

.nav-links a:hover {
    color:rgba(255, 0, 0, 0.55);
    text-decoration: underline;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44.4rem;
    background-image: url(../img/fakeflix-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    height: 3.4375rem;
    width: 13.875rem;
    background-color: rgba(255, 0, 0, 0.55);
    color: black;
    border-radius: 0.6875rem;
    font-weight: bolder;
    font-size: 1.57rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: rgba(0, 255, 0, 0.55);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0 rgba(255, 255, 255, 0.77);
}

.btn span {
    display: block;
}